<table class="table table-striped table-bordered table-hover ">
    <thead class="thead-dark">
        <tr>
            <th>Date</th>
            <th>Timezone</th>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Currency</th>
            <th>Gross</th>
            <th>Fee</th>
            <th>Net</th>
            <th>From_email</th>
            <th>To_email</th>
            <th>Transaction_id</th>
            <th>Item_id</th>
            <th>Frequency</th>
            <th>Delete</td>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
        	<tr>
				<td><%= user.date %></td>
				<td><%= user.timezone %></td>
				<td><%= user.name %></td>
				<td><%= user.payment_type %></td>
				<td><%= user.status %></td>
				<td><%= user.currency %></td>
				<td><%= user.gross %></td>
				<td><%= user.fee %></td>
				<td><%= user.net %></td>
				<td><%= user.from_email %></td>
				<td><%= user.to_email %></td>
				<td><%= user.transaction_id %></td>
				<td><%= user.item_id %></td>
				<td><%= user.frequency%></td>
                <td><button  type="button" value="<%= user.id%>" class = "aaa btn btn-danger">Destroy</button></td>
			</tr>
        <% end%>
    </tbody>
</table>
<script type="text/javascript">
    $( document ).ready(function() {
        $(".aaa").on("click",function(){
            Swal.fire({
                title: 'Are you sure?',
                input: 'text',
                inputPlaceholder: 'ENTER DELETE',
                text:  "You won't be able to revert this!",
                icon:  'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Delete it!'
                }).then((result) => {
                    if (result.isConfirmed){
                     Swal.fire(
                        'Deleted!',
                        'Your Record has been deleted.',
                        'success'
                        )
                    $.ajax({
                        url: "/user_delete",
                        type: "GET",
                        dataType: "script",
                        data: {data: $(this).attr('value')},
                        success: function(data){
                            //debugger
                            location.reload();
                        }
                        
                    })
                }
            })
        });

});
</script>

